body{
    background-color: cadetblue;
    color: white;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

p{
    font-size: 32px;
}

.logo{
    height: 100px;
    position: relative;
    left: 100px;
    top: 50px;
}
a{
    color: white;
    text-decoration: none;

}
nav{
    float: right;
    margin-top: 0px;
    position: relative;
    right: 150px;
    top: 50px;

}

.main-content{
    text-align: center;
    width: 70%;
    height: 70%;
    position: relative;
    left: 350px;
    top: 150px;
}
.view-my-work{
    border: 3px solid white;
    padding: 10px;
}
